<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new attraction</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<h1>Add New Attraction</h1>
<form action="http://localhost:8080/attractions/add" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br>
    <label for="city">City:</label><br>
    <select id="city" name="city">
        <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
    </select><br>
    <label>Tags:</label><br>
    <div th:each="tag : ${tags}">
        <input type="checkbox" th:id="${tag}" th:name="'tags'" th:value="${tag}"/>
        <label th:for="${tag}" th:text="${tag}"></label><br>
    </div>
    <input type="submit" value="Submit">
</form>
<form action="http://localhost:8080/attractions">
    <input type="submit" value="Tilbage">
</form>
</body>
</html>