<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tourist Attractions</h1>
<ul>
    <li th:each="attraction : ${tourist}">
        <span th:text="${attraction.name}"></span> - <span th:text="${attraction.description}"></span>
        <a th:href="@{/attractions/{id}/tags(id=${attraction.id})}">Tags</a>
    </li>
</ul>
<a href="http://localhost:8080/attractions/add">Add New Attraction</a>
</body>
</html>