<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Attraction</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<h1>Update Attraction</h1>
<form th:action="@{/attractions/edit}" method="post">
    <!-- Hidden field for the attraction ID -->
    <input type="hidden" id="id" name="id" th:value="${attraction.id}"/>

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" th:value="${attraction.name}"><br>

    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" th:value="${attraction.description}"><br>

    <label for="city">City:</label><br>
    <select id="city" name="city">
        <option th:each="city : ${cities}" th:value="${city}" th:selected="${city == attraction.city}" th:text="${city}"></option>
    </select><br>

    <label>Tags:</label><br>
    <div th:each="tag : ${tags}">
        <input type="checkbox" th:id="${'tag'}" th:name="'tags[' + ']'" th:value="${tag}"
               th:checked="${attraction.tags.contains(tag)}"/>
        <label th:for="${'tag'}" th:text="${tag}"></label><br>
    </div>

    <input type="submit" value="Submit">
</form>
<a href="/attractions">Back</a>
</body>
</html>
